# Desconsiderar arquivos gerados pelo editor
.vscode/
*.suo
*.ntvs.json
*.user
*.tmp
*.bak
*.orig
*.inc

# Desconsiderar arquivos de cache
npm-cache/
yarn-cache/

# Desconsiderar arquivos de build
build/
dist/

# Desconsiderar arquivos de testes
tests/

# Desconsiderar arquivos de dependências
node_modules/

# Desconsiderar configuração do work-space do VSCode
*.code-workspace

# Desconsiderar banco de dados

# Desconsiderar pasta temporaria do Nextjs
.next

# Desconsiderar arquivo com variaveis de ambiente
.env
.env.dev
